<!DOCTYPE html>
<html>
  <head>
    <base href='/'>
    <title>{{ title }}></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='datatables/media/css/jquery.dataTables.min.css'> 
  </head>
  <body>
    <script src='jquery/dist/jquery.min.js'></script>
    <script src='datatables/media/js/jquery.dataTables.min.js'></script>
    <script src='javascripts/initialize-datatables.js'></script>

    <div class='container'>
      <div class='table-container'>
        <table id='subscriptions-table'>
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Screen Name</th>
              <th>Services</th>
              <th>State</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </body>
</html>
