<!DOCTYPE html>
<html>
  <head>
    <base href='/'>
    <title>{{ title }}></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='datatables/media/css/jquery.dataTables.min.css'>
  </head>
  <body>
    <script src='jquery/dist/jquery.min.js'></script>
    <script src='datatables/media/js/jquery.dataTables.min.js'></script>
    <script src='javascripts/init-datatables.js'></script>

    <div class='container'>
      <div class='table-container'>
        <table id='zipcodes-table' class='display'>
          <thead>
            <tr>
              <th>Id</th>
              <th>City</th>
              <th>State</th>
              <th>Population</th>
              <th>Location</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </body>
</html>
